/* Reveal animations */

.reveal {
    position: relative;
    transform: translateY(4rem);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

  .reveal-left {
    position: relative;
    transform: translateX(-7rem);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .reveal-left.active {
    transform: translateY(0);
    opacity: 1;
  }

  .reveal-left-slow {
    position: relative;
    transform: translateX(-7rem);
    opacity: 0;
    transition: 3s all ease;
  }

  .reveal-left-slow.active {
    transform: translateY(0);
    opacity: 1;
  }

  /* Media queries section */

  @media (max-width: 1000px) {

    header {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    #mobile-nav {
        display: block;  
        margin-top: 1rem;     
    }

    #mobile-nav button {
        background-color: var(--col2);
    }

    #mainnav {
        display: none;
    }

    header {
        padding-top: 2rem;
        margin-top: -2rem;
    }

    .top-banner {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .top-banner #dmx-logo {
        width: auto;
        height: 7vw;
        margin-top: -1rem;
        margin-left: -1rem;

    }

    .top-banner #dmx-logo-simple {
        display: inline;

    }
}

  @media (max-width: 1000px) {

    
    .main {
        overflow: hidden;
    }

    .main .alt-nav-parent {
        display: none;
    }

    .main .main-banner {
        background-image: linear-gradient(to left,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95)),url(./img/FotoShoot/DMX_02.jpg);
        background-position-y: center;
        background-position-x: right;
        } 

    .main .main-banner h1 {
        display: none;
    } 

    .main .main-banner-text p {
        font-size: 7vw;
    }

    .main .main-banner-text button {
        width: 50%;
    }

    .destacados #destacados-2 {
        display: none; 
    }

    .destacados  #destacados-3 {
        display: none; 
    }

    .destacados #destacados-4{
        display: none; 
    }

    .prod-row {
        flex-direction: column;
    }

    #prod-flip {
        flex-direction: column-reverse;
    }

    .prod-row p {
        display: none;
    }

    .prod-row img {
        height: auto;
        width: 60vw;
    }

    /* .marcas {
        margin: 1rem;
    } */

    .vid-promo {
        /* display: none; */
    }

    #vidform p {
        display: none;
    }

    #vidform iframe {
        width: 120%;
        height: 45vw;
    }

    footer {
        width: 80%;
    }

    footer .footer-col-1{
        width: 80%;
    }

    footer .footer-col-1 #dmx-logo{
        height: auto;
        width: 50vw;
    }

    footer .footer-col-1 .redes img{
        height: 1rem;
        width: auto;
        margin: 1rem;
        display: none;
    }

    footer .footer-col-2{
        display: none;
    }

    footer .footer-col-3{
        display: none;
    }

}