.main-componentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.main-componentes h1 {
    color: var(--col2);
    background-color: var(--col1);
    font-size: 3rem;   
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.linea-componentes {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.producto {
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    align-content: space-evenly;
    width: 24vw;
}

.producto h1 {
    font-size: 2rem;
    background-color: white;
    color: var(--col1);
    border-radius: 1rem;
}

.producto p {
    font-size: 1.25rem;
    color: var(--col1);
    text-justify:inter-word;
    text-align: center;
    margin: 0.5rem;
}

.producto img {
    height: 20vw;
    max-width: 22vw;
    width: auto;
}

.producto a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.producto:hover {
    background-color: var(--col1);
}

.producto:hover h1 {
    color: var(--col2);
    background-color: var(--col1);
}