.main-componentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.main-componentes h1 {
    color: var(--col2);
    background-color: var(--col1);
    font-size: 3rem;   
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.linea-componentes {
    display: flex;
}

.producto {
    height: auto;
    width: 30%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.producto h1 {
    font-size: 2rem;
    background-color: white;
    color: var(--col1);
    white-space: nowrap;
}

.producto p {
    font-size: 1.25rem;
    color: var(--col1);
    text-justify:inter-word;
    text-align: center;
    margin: 0.5rem;
}

.producto img {
    height: auto;
    width: 80%;
}